:root {
    --dark-color: #182840;
    --green-color: #26bfcc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}
body {
    font-family: 'Roboto', sans-serif;
}

/* start navbar  */
.main-btn {
    color: var(--yellow-color);
    background-color: var(--red-color);
}
.navbar {
    background-color: var(--dark-color);
}

.navbar .navbar-nav .nav-link {
    color: #fff;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--green-color);
}
.navbar .search {
    border-left: 1px solid var(--green-color);
}
.navbar .search svg {
    color: var(--green-color);
}

.navbar .navbar-toggler {
    color: #fff;
    border-color: #fff;
    font-size: 24px;
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"]{
    border-color: var(--green-color);
}
/* end navbar  */

/* start landing*/
.landing {
    background-color: var(--dark-color);
    min-height: calc(100vh - 54px);
}
/* end landing  */

/* start features  */
.anchor {
    color: var(--yellow-color);
    font-size: 50px;
}

.main-title::after {
    content:"";
    width: 120px;
    height:2px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.feature .icon-holder {
    height: 200px;
}
.feature .icon-holder svg {
    left: 50%;
    transform:translateX(-50%);
}
.feature .icon-holder .number {
    font-size: 12rem;
    color: var(--section-color);
}
.feature .icon-holder .icon {
    color: var(--green-color);
    font-size: 4rem;
}
.feat h4 {
    color: var(--yellow-color);
}
/* end features     */

/* start our-work  */
.our-work {
    background-color: var(--section-color);
}

.our-work ul .active {
    background-color: var(--red-color);
    color:#ffc400;
}

.our-work ul li {
    padding: .5rem 1rem;
}
.our-work ul li:not(.active):hover {
    color: var(--red-color);
}
.our-work .box {
    overflow: hidden;
    padding: 5px;
    position: relative;
}

.our-work .box::before {
    content: attr(data-work);
    background-color: rgb(38 191 204 / 55%);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    font-size: 1.5rem;
    transition: .5s;
    transform: translateY(calc(-100% - 5px));    
}
.our-work .box:hover::before{
    transform: translateY(0);    

}

.our-work .container {
    background-color: var();
}
/* end our-work  */

/* start stuff  */
.stuff .description {
    max-width: 500px;
}
/* end stuff  */

/* start team  */
.team {
    background-color: var(--section-color);
}
.team h3 {
    color: var(--yellow-color);
}
.team .box h4 {
    color: #fff;
    background-color: var(--green-color);
}
/* end team  */

/* start project section  */
.project {
    background-color: var(--dark-color);
}

/* end project section  */

/* start subscribe section  */
.subscribe {
    background-color: var(--yellow-color);
}

.subscribe input {
    border: none;
    border-bottom: 1px solid #fff;
}
.subscribe input::placeholder {
    color: #fff;
    /* font-size: 1rem; */
}
.subscribe input[type="submit"] {
    background-color: var(--dark-color);
    color: var(--yellow-color);
}
.subscribe input[type="submit"]:hover {
    background-color: #182840;
    color: #fff;
}
/* end subscribe section  */
/* start footer  */
.footer {
    background-color: var(--dark-color);
}
.footer .copyright > span {
    color: var(--green-color)
}
.footer .copyright div span {
    color: var(--yellow-color);
}
.facebook {
    color: #1877f2;
}
.twitter {
    color: #1da1f2;
}
.linkedin {
    color: #0077b5;
}
.youtube {
    color: #ff0000;
}
/* end footer  */